// 各種パラメータの値がここに入る。

////////////////////////////////////////////////////////////////
// 幅関連
// 縦横配置換えの基準
threshold-width      = 960px

// 全体の最大幅
window-max-width     = 1600px

// 全体の左右に入れるマージン幅
window-padding-width = 30px

// 横置き時のサイドバーの幅
sidebar-width        = 360px

