// テーブルのスタイル設定。
// 使うには <table> に sb7-table クラスを付与する。

table.table
  table-layout     : fixed

td.is-invalid
  border           : 1px solid #dc3545

td.fixed
  white-space      : nowrap;
  overflow         : hidden;
